<%= erb :welcome %>
<div id="main-content" class="raw hide">

  <div class="vimrc-area col-xs-5">
    <!-- ヘッダ -->
    <header>
      <h1>Vim::Factory</h1>
    </header>

    <!-- ナビゲーション -->
    <nav>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#setting-basic" data-toggle="tab">基本設定</a>
        </li>
        <li role="presentation">
          <a href="#setting-color" data-toggle="tab">カラー</a>
        </li>
      </ul>
    </nav>

    <!-- vim設定欄 -->
    <section id="setting-contents" class="tab-content">

      <!-- 基本設定 -->
      <section id="setting-basic" class="tab-pane fade in active">
        <% @basic_options.each do |genre, elements| %>
          <h4>
            <% if genre == 'tab' %>
              タブ
            <% elsif genre == 'indent' %>
              インデント
            <% elsif genre == 'search' %>
              検索
            <% elsif genre == 'cursor' %>
              カーソル
            <% elsif genre == 'visual' %>
              表示・装飾
            <% elsif genre == 'default' %>
              固定設定
            <% end %>
          </h4>
          <% elements.each do |element| %>
            <div class="checkbox">
              <label>
                <% if element['type'] == 'text' %>
                  <%= element['message'] %>
                  <input class="vimrc-contents" type="<%= element['type'] %>" name="<%= element['name'] %>" <%= element['disabled'] %> >
                <% else %>
                  <input class="vimrc-contents" type="<%= element['type'] %>" name="<%= element['name'] %>" <%= element['checked'] %> <%= element['disabled'] %> >
                  <%= element['message'] %>
                <% end %>
              </label>
            </div>
          <% end %>
        <% end %>
      </section>

      <!--  カラースキーマ設定 -->
      <section id="setting-color" class="tab-pane fade">
        <h4>お好みのカラーを選択</h4>
        <% @colorscheme_options.each_with_index do |colorscheme, index| %>
          <div class="colorscheme">
            <div class="radio">
              <label>
                <% if index == 0 %>
                  <input type="radio" class="vimrc-contents" name="colorscheme" value="<%= colorscheme%>" checked>
                <% else %>
                  <input type="radio" class="vimrc-contents" name="colorscheme" value="<%= colorscheme%>">
                <% end %>
                <span class="colorschme-name"><%= colorscheme %></span>
              </label>
            </div>
            <%= erb :"colorschemes/#{colorscheme}" %>
          </div>
        <% end %>
      </section>
      <button type="button" id="setting-btn" class="btn btn-primary btn-lg">これで設定する</button>
    </section>

  </div>

  <!-- ターミナル -->
  <div id="terminal-body" class="terminal-area col-xs-7">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#console" data-toggle="tab">コンソール</a>
      </li>
      <li role="presentation">
        <a href="#vimrc-preview" data-toggle="tab">.vimrc</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="console" class="tab-pane active"></div>
      <div id="vimrc-preview" class="tab-pane">プレビュー</div>
    </div>
  </div>
</div>
