<%= erb :welcome %>
<div id="main-content" class="raw hide">
  <div class="vimrc-area col-xs-4">
    <h1>Vim::Factory</h1>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#setting-color" data-toggle="tab">カラー</a>
      </li>
      <li role="presentation">
        <a href="#setting-basic" data-toggle="tab">基本設定</a>
      </li>
    </ul>
    <div id="setting-contents" class="tab-content">

      <% # カラースキーマ設定 %>
      <div id="setting-color" class="tab-pane fade in active">
        <h5>お好みのカラーを選択</h5>
        <% @colorscheme_options.each_with_index do |colorscheme, index| %>
          <div class="colorscheme <%= colorscheme %>">
            <div class="radio">
              <label>
                <% if index == 0 %>
                  <input type="radio" class="vimrc-contents" name="colorscheme" value="<%= colorscheme%>" checked>
                <% else %>
                  <input type="radio" class="vimrc-contents" name="colorscheme" value="<%= colorscheme%>">
                <% end %>
                <span class="colorschme-name"><%= colorscheme %></span>
              </label>
            </div>
            <%= erb :colorscheme_sample %>
          </div>
        <% end %>
      </div>

      <% # 基本設定 %>
      <div id="setting-basic" class="tab-pane fade">
        <% @basic_options.each do |genre, elements| %>
          <h4>
            <% if genre == 'tab' %>
              タブ
            <% elsif genre == 'indent' %>
              インデント
            <% elsif genre == 'search' %>
              検索
            <% elsif genre == 'cursor' %>
              カーソル
            <% elsif genre == 'visual' %>
              表示・装飾
            <% elsif genre == 'default' %>
              固定設定
            <% end %>
          </h4>
          <% elements.each do |element| %>
            <div class="checkbox">
              <label>
                <% if element['type'] == 'text' %>
                  <%= element['message'] %>
                  <input class="vimrc-contents" type="<%= element['type'] %>" name="<%= element['name'] %>">
                <% else %>
                  <input class="vimrc-contents" type="<%= element['type'] %>" name="<%= element['name'] %>">
                  <%= element['message'] %>
                <% end %>
              </label>
            </div>
          <% end %>
        <% end %>
      </div>
      <button type="button" id="setting-btn" class="btn btn-primary btn-lg">これで設定する</button>
    </div>
  </div>
  <div id="terminal-body" class="terminal-area col-xs-8">
  </div>
</div>
