<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vim Gene</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= css :app %>
</head>
<body>
  <div class="clearfix">
    <%= yield %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="<%= @tty_host%>socket.io/socket.io.js"></script>
  <script src="<%= @tty_host%>term.js"></script>
  <%= js :app %>
</body>
</html>
