<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vim Gene</title>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <link rel="stylesheet" type="text/css" href="css/tty.css"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans|Walter+Turncoat|Sigmar+One|Gloria+Hallelujah|Muli|Nunito|Righteous|Chewy|Hammersmith+One|Coming+Soon|Boogaloo' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="clearfix">
    <%= yield %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="<%= @web_host%>js/config.js"></script>
  <script src="<%= @web_host%>js/index.js"></script>
  <script src="<%= @tty_host%>socket.io/socket.io.js"></script>
  <script src="<%= @tty_host%>term.js"></script>
  <script src="<%= @web_host%>js/tty.js"></script>
</body>
</html>
