<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vim Gene</title>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <link rel="stylesheet" type="text/css" href="css/tty.css"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans|Walter+Turncoat|Sigmar+One|Gloria+Hallelujah|Muli|Nunito|Righteous|Chewy|Hammersmith+One|Coming+Soon|Boogaloo' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <h1>.vimrc Creator</h1>
    <p>あなただけのvimrcを作りましょう。<br>設定を決めて送信ボタンを押せば、すぐに反映されます。</p>
  </header>
  <div class="mainbody clearfix">
    <%= yield %>
  </div>

  <footer>
    <p>All right reserved.</p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="<%= @web_host%>js/index.js"></script>
  <script src="<%= @web_host%>js/socket.io.js"></script>
  <script src="<%= @web_host%>js/term.js"></script>
  <script src="<%= @web_host%>js/tty.js"></script>
</body>
</html>
