<div id="welcome">
  <div id="language">
    <% if @locale == 'ja' %>
      <a href="/en/">English</a>
    <% else %>
      <a href="/">Japanese</a>
    <% end %>
  </div>
  <div id="welcome-top" class="jumbotron">
    <h1>Vim::Factory<small> ver.α</small></h1>
    <p><%= @top_msg["subtitle"] %><p>
  </div>
  <div id="container">
    <div id="about">
      <h3><%= @top_msg["about-title"] %></h2>
      <p><%= @top_msg["about-desc"] %></p>
    </div>
    <div id="start">
      <h3><%= @top_msg["start-title"] %></h2>
      <p><%= @top_msg["start-desc"] %></p>
      <button id="open" class="btn btn-default btn-lg">Let's Try Vim::Factory !!</button>
      <input id="connection_id" type="hidden" value="<%= @connection_id %>">
    </div>
  </div>
  <footer>
    <%# <div class="container"> %>
      <p>&copy; 2015 Created by @mosuke5 & @mogulla3</p>
    <%# </div> %>
  </footer>
</div>
